<!-- HEADER -->
<header class="header">
  <div class="container">

    <!-- logo -->
    <div class="logo">
      <a href="{{ "/" | prepend: site.baseurl }}">
        <h3>Izabelle Mendonça</h3>
      </a>
    </div>
    <!--End logo-->

    <!-- Navigation Menu -->
    <nav class="navigation singlepage-nav">
      <ul>
        <li>
          <a href="{{ "/" | prepend: site.baseurl }}">Principal</a>
        </li>
        <li>
          <a href="{{ "/about" | prepend: site.baseurl }}">Sobre</a>
        </li>
         <li>
          <a href="{{ "/services" | prepend: site.baseurl }}">Serviços</a>
        </li>
        <li>
          <a href="{{ "/work" | prepend: site.baseurl }}">Portfólio</a>
        </li>
        <li>
          <a href="{{ "/contact" | prepend: site.baseurl }}">Contato</a>
        </li>
      </ul>
    </nav>
    <!--End Navigation Menu -->

  </div>
</header>
<!-- END HEADER -->
